router_data = {}


@api.on_event("startup")
{{ 'async ' if is_async else '' }}def startup_event():

    instance_mapper = {}
{% for table in table_mapping_include %}
    instance_mapper[{{ table }}.__tablename__] = {{ table }}
{% endfor %}
    router_data["instance_mapper"] = instance_mapper

    router_data["foreign_key_table"] = build_foreign_key_table([{% for table in table_mapping_include %} {{table }}, {%  endfor %}])
    router_data["pk"] = get_pk({{ model_name }})
