{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
class {{ class_name }}(StrEnum):
{%- if description %}
    """
    {{ description }}
    """
{%- endif %}
{%- for field in fields %}
    {{ field[0] }} = {{ field[1] }}
{%- endfor -%}
